@using BadMom.Models.Registration
@model BadMom.Models.Registration.UserLoginDataVM
@{
    ViewBag.Title = "Home Page";
}

@section styles{
    @Styles.Render("~/Content/homepage")
}

<div class="">
    <section style="background: url(../../Resources/main3.jpg);background-color: #8287ee; background-size: cover; background-position: center center" class="hero-wallet">
        <div class="container">
            <div class="row">
                <div class="col-lg-7" style="color:black">
                    <h1>Ресурс семейного досуга</h1><a href="#" class="hero-link">УЗНАТЬ БОЛЬШЕ</a>
                </div>
            </div>
        </div>
    </section>


    <!-- Intro Section-->
    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2 class="h3">Добро пожаловать на GoodMom!</h2>
                    <p class="text-big">На нашем ресурсе предоставлено <strong>четыре раздела</strong> подробно с которыми Вы можете ознакомиться ниже. Ресурс являеться бесплатным, единственное что для полноценного использования всех возможностей вам необходимо <strong><a href="@Url.Action("New", "Registration")">зарегистрироваться</a></strong>.</p>
                </div>
            </div>
        </div>
    </section>




    <div class="album py-5 bg-light" style="padding-top: 1rem !important;">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-6 box-shadow main-menu-item" onclick="window.location = '@Url.Action("Index","Blog")'">
                        <img class="card-img-top" src="~/Resources/blog_main.jpg"  alt="Card image cap">
                        <div class="card-header">
                            Блог
                        </div>
                        <div class="card-body">
                            <p class="card-text">Это не обычный блог) В нашем блоге добавлять посты может каждый желающий. Администрация сайта заранее благодарна за культурное общение и отсутствие ненормативной лексики (в противном случае бан без предупреждения)</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-6 box-shadow main-menu-item" onclick="window.location = '@Url.Action("Index","Advert")'">
                        <img class="card-img-top" src="~/Resources/gifts1.jpg" alt="Card image cap">
                        <div class="card-header">
                            Личные обьявления
                        </div>
                        <div class="card-body">
                            <p class="card-text">Тут каждый пользователь сможет выставить что угодно на продажу или отдать в дар. Администрация не несет никакой ответственности за безопасность сделок и честности дающих обьявления.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-6 box-shadow main-menu-item" onclick="window.location = '@Url.Action("Index","Planer")'">
                        <img class="card-img-top" src="~/Resources/planer_main.jpg" alt="Card image cap">
                        <div class="card-header">
                            Планировщик
                        </div>
                        <div class="card-body">
                            <p class="card-text">Удобный планировщик событий, покупок и прочего. В дальнейще планируеться и как мобильное приложение.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-6 box-shadow main-menu-item" onclick="window.location = '@Url.Action("Index","Wallet")'">
                        <img class="card-img-top" src="~/Resources/wallet_main.jpg" alt="Card image cap">
                        <div class="card-header">
                            Кошелек
                        </div>
                        <div class="card-body">
                            <p class="card-text">Ваш помощник в ведении семейного бюджета. Тут можно конролировать все ваши расходы и доходы, а планировщик напомнит вам о регулярных.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Gallery Section-->
    <!--<section class="gallery no-padding">
            <div class="row">
                <div class="mix col-lg-3 col-md-3 col-sm-6">
                    <div class="item">
                        <a href="~/Resources/img/gallery-1.jpg" data-fancybox="gallery" class="image">
                            <img src="~/Resources/img/gallery-1.jpg" alt="..." class="img-fluid">
                            <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div>
                        </a>
                    </div>
                </div>
                <div class="mix col-lg-3 col-md-3 col-sm-6">
                    <div class="item">
                        <a href="~/Resources/img/gallery-2.jpg" data-fancybox="gallery" class="image">
                            <img src="~/Resources/img/gallery-2.jpg" alt="..." class="img-fluid">
                            <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div>
                        </a>
                    </div>
                </div>
                <div class="mix col-lg-3 col-md-3 col-sm-6">
                    <div class="item">
                        <a href="~/Resources/img/gallery-3.jpg" data-fancybox="gallery" class="image">
                            <img src="~/Resources/img/gallery-3.jpg" alt="..." class="img-fluid">
                            <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div>
                        </a>
                    </div>
                </div>
                <div class="mix col-lg-3 col-md-3 col-sm-6">
                    <div class="item">
                        <a href="~/Resources/img/gallery-4.jpg" data-fancybox="gallery" class="image">
                            <img src="~/Resources/img/gallery-4.jpg" alt="..." class="img-fluid">
                            <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div>
                        </a>
                    </div>
                </div>
            </div>
        </section>-->

</div>

