@model BadMom.Models.Registration.UserLoginDataVM

@{
    Layout = null;
}


    

<div class="">

    @using (Html.BeginForm("Login","Registration"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="form-group col-sm-6 offset-sm-3">
                @Html.TextBoxFor(model => model.Login, new { @id = "login", @placeholder = "Login / E-mail", @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6 offset-sm-3">
                @Html.PasswordFor(model => model.Password, new { @id = "Password", @placeholder = "Пароль", @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6 offset-sm-3">
                <button type="submit" class="btn btn-secondary">Войти</button>
            </div>
        </div>
    }
</div>

    <div class="text-center">
        @Html.ActionLink("Зарегестрироваться", "New", "Registration", null, new { }) /
        @Html.ActionLink("Забыл пароль", "ForgotPass", "Registration", null, new { })
    </div>