@model BadMom.Models.Wallet.Consumption

<div class="container">

    <div style="margin-bottom:1%;margin-top:1%;">



        <div class="wallet-add">


            @using (Ajax.BeginForm("AddConsumption", "Wallet", new AjaxOptions
            {
                UpdateTargetId = "consumptionDiv"
,
                OnSuccess = "OnSuccess"
            }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="row">
                    <div class="form-group col-sm-6 col-md-4">
                        @Html.TextBoxFor(m => m.Description, new { @id = "Description", @placeholder = "Описание расхода", @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        @Html.DropDownListFor(m => m.Reason, (List<SelectListItem>)ViewBag.ConsumptionReason, new { @id = "IncomeReason", @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(m => m.Reason, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-sm-6 col-md-4">
                        @Html.TextBoxFor(m => m.Date, new { @id = "Date", @placeholder = "Дата", @class = "form-control bs-datepicker", @required = "required" })
                        @Html.ValidationMessageFor(m => m.Date, "", new { @class = "text-danger" })

                    </div>


                    <div class="form-group col-sm-6 col-md-4">
                        @Html.DropDownListFor(m => m.Type, (List<SelectListItem>)ViewBag.OperationType, new { @id = "OperationType", @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(m => m.Type, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-sm-6 col-md-4">
                        @Html.TextBoxFor(m => m.Sum, new { @id = "Sum", @class = "form-control decimalItem", @placeholder = "Сумма", @required = "required" })
                        @Html.ValidationMessageFor(m => m.Sum, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-sm-6 col-md-4">
                        @Html.DropDownListFor(m => m.Source, (List<SelectListItem>)ViewBag.Sources, new { @id = "Sources", @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(m => m.Source, "", new { @class = "text-danger" })

                    </div>

                </div>
                <div class="form-group d-flex justify-content-center align-content-center align-items-center">
                    <button type="submit" class="btn btn-secondary">Добавить</button>
                </div>


            }
        </div>

    </div>



</div>