@model BadMom.Models.Blog.PostVM
@{
    ViewBag.Title = "Blog";
}

<section style="background: url(../../Resources/banner-blog.jpg);background-color: violet; background-size: cover; background-position: center center" class="hero-wallet">
    <div class="container">
        <div class="row">
            @if (ViewBag.Edit != null && ViewBag.Edit)
            {
                <div class="col-lg-7">
                    <h1>Редактировать пост</h1>
                </div>
            }
            else
            {
                <div class="col-lg-7">
                    <h1>Добавит пост</h1>
                </div>
            }
        </div>
    </div>
</section>

<div class="container">

    <div style="margin-bottom:5%;margin-top:1%;">
        <div class="col-12">


            <div class="widget">
                @{
                    string submitMethod;
                    if (ViewBag.Edit != null && ViewBag.Edit == true)
                    {
                        submitMethod = "EditPost";

                    }
                    else
                    {
                        submitMethod = "AddPost";
                    }
                }
                @using (Html.BeginForm(submitMethod, "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="form-group col-sm-6 offset-sm-3">
                            @Html.TextBoxFor(model => model.Title, new { @id = "login", @placeholder = "Тема", @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-6 offset-sm-3">
                            @Html.DropDownListFor(model => model.Theme, (List<SelectListItem>)ViewBag.Themes, new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Theme, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-sm-6 offset-sm-3">
                            @Html.TextAreaFor(model => model.Body, new { @placeholder = "Текст поста", @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-6 offset-sm-3">
                            <label class="btn btn-secondary">
                                <input style="display:none;" type="file" name="fileUpload" accept="image/*" onchange="readURL(this);" />
                                Добавить фото
                            </label>
                            @if (Model != null && Model.Photo.Length != 0)
                            {
                                var base64 = Convert.ToBase64String(Model.Photo);
                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                <img style="display:inline; max-width:200px; max-height:200px;" src="@imgSrc" id="avatar_preview" />

                            }
                            else
                            {<img style="display:inline; max-width:200px; max-height:200px;" src="http://via.placeholder.com/200x200" id="avatar_preview" />}
                            @if (ViewBag.Edit != null && ViewBag.Edit)
                            {
                                @Html.HiddenFor(x => x.Id)
                            }

                        </div>
                        @if (ViewBag.Edit != null && ViewBag.Edit)
                        {
                            <div class="form-group col-sm-6 offset-sm-3">
                                <button type="submit" class="btn btn-secondary">Сохранить изменения</button>
                            </div>

                        }
                        else
                        {
                            <div class="form-group col-sm-6 offset-sm-3">
                                <button type="submit" class="btn btn-secondary">Добавит пост</button>
                            </div>
                        }
                    </div>
                }
            </div>

        </div>
    </div>

</div>

@section scripts{

    @Scripts.Render("~/bundles/new")

}