@using BadMom.Models.Registration
@{
    ViewBag.Title = "Мой кабинет";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    @Styles.Render("~/Content/user")
    @Styles.Render("~/Content/advert")
}
@*@RenderSection("styles", required: false)*@

@{ var user = (ViewBag.User as UserData);}
<section style="background: url(../../Resources/bannercolor.png.jpg);background-color: violet; background-size: cover; background-position: center center" class="hero-wallet">
    <div class="container personal-cabinet-container profile-header">
        <div class="row">
            <div class="col-6 col-md-3 d-none d-md-block">
                <div class="round-frame">
                    @if ((ViewBag.User as UserData).Photo != null && (ViewBag.User as UserData).Photo.Length != 0)
                    {
                        var base64 = Convert.ToBase64String((ViewBag.User as UserData).Photo);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);


                        <img src="@imgSrc" />
                    }
                    else
                    {
                        <img style=" max-width:200px; max-height:200px;" src="~/Resources/user-icon-png-pnglogocom.png" />
                    }
                </div>

            </div>
            <div class="col-md-3 col-6 login">

                <h1>
                    @user.Login
                </h1>
            </div>
        </div>
    </div>
</section>

<nav class="navbar navbar-expand-lg navbar-dark profile-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        @*<span class="navbar-toggler-icon"></span>*@
        <span></span>
        <span></span>
        <span></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link @if (ViewBag.Menu == "main"){ <text>active</text> }" href="@Url.Action("Index", new { UserName = user.Login })">Информация<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle @if (ViewBag.Menu == "setting"){ <text>active</text> }" " href="https://example.com" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Обьявления</a>
                <div class="dropdown-menu" aria-labelledby="dropdown1">
                    <a class="dropdown-item" href="@Url.Action("MyAdverts")">Мои Обьявления</a>
                    <a class="dropdown-item" href="@Url.Action("FavoriteAdverts")">Избранные обьявления</a>
                </div>
            </li>
            @*<li class="nav-item ">
                    <a class="nav-link @if (ViewBag.Menu == "advert"){ <text>active</text> }" href="@Url.Action("MyAdverts")">Мои Обьявления</a>
                </li>*@
            <li class="nav-item ">
                <a class="nav-link @if (ViewBag.Menu == "post"){ <text>active</text> }" href="@Url.Action("MyPosts")">Мои посты</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link @if (ViewBag.Menu == "mess"){ <text>active</text> }" href="@Url.Action("MyMessages")">
                    Мои сообщения @{
                        var newCount = user.PersonalMessage1.Count(x => x.Status == BadMom.Models.User.PersonalMessageStatus.New);
                        if (newCount > 0)
                        { <ss>(<b> @newCount </b>)</ss>
                    }
                    }
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle @if (ViewBag.Menu == "setting"){ <text>active</text> }" " href="https://example.com" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Настройки</a>
                <div class="dropdown-menu" aria-labelledby="dropdown1">
                    <a class="dropdown-item" href="#">Профиль</a>
                    <a class="dropdown-item" href="@Url.Action("ChangePassRegistered","User")">Сменить пароль</a>

                </div>
            </li>
            @if (User.IsInRole("admin"))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Админка</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown2">
                        <a class="dropdown-item" href="#">Профили</a>
                        <a class="dropdown-item" href="#">Блог</a>
                        <a class="dropdown-item" href="#">Сооющения</a>
                        <a class="dropdown-item" href="#">Обьявления</a>
                    </div>
                </li>
            }

        </ul>
    </div>
</nav>

<div class="profile-main">
    @RenderBody()
</div>

@RenderSection("scripts", required: false)



