@model List<BadMom.Models.Advert.AdvertVM>
@{
    ViewBag.Title = "Мой кабинет";
    Layout = "~/Views/User/_MyProfileLayout.cshtml";
    ViewBag.Menu = "advert";
}
@*@section styles{
    @Styles.Render("~/Content/advert")
}*@
<div class="container">
    <div class="advert-main">
        <div class="row">
            @{if (Model.Count != 0)
                {
                    foreach (var item in Model)
                    {
                        <div class="col-lg-6 advert-element">
                            <div class="d-flex justify-content-between">
                                <div class="photo">
                                    <a href="@Url.Action("ShowAdvert","Advert",new { id = item.Id })">
                                        @if (item.Photo != null && item.Photo.Length != 0)
                                        {
                                            var base64 = Convert.ToBase64String(item.Photo);
                                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);


                                            <img src="@imgSrc" class="img-fluid" />
                                        }
                                        else
                                        {<img src="~/Resources/img/blog-post-2.jpg" alt="..." class="img-fluid">}
                                    </a>
                                </div>
                                <div class="content-block">
                                    <div class="header">
                                        <a href="@Url.Action("ShowAdvert","Advert",new { id = item.Id })">@item.Title</a>
                                    </div>
                                    <div class="info-block">
                                        @item.Created.ToShortDateString()
                                    </div>
                                    <div class="body">
                                        @if (item.Body.Length > 100)
                                        {
                                            var body = item.Body.Substring(0, 100) + " ...";
                                            <text>@body</text>
                                        }
                                        else
                                        {
                                            @item.Body
                                        }
                                    </div>

                                </div>
                                <div class="button-panel d-none d-sm-block">
                                    <button class="btn btn-default edit" onclick="window.location='@Url.Action("EditAdvert", "Advert", new { id = item.Id })'">Редактировать</button>
                                    <button class="btn btn-default delete" onclick="window.location='@Url.Action("DeleteAdvert", "Advert", new { id = item.Id })'">Удалить</button>
                                    <div class="d-flex justify-content-end align-content-end">
                                        <div class="price">
                                            @item.Price &#8372
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="button-panel d-sm-none">
                                <button class="btn btn-default edit" onclick="window.location='@Url.Action("EditAdvert", "Advert", new { id = item.Id })'">Редактировать</button>
                                <button class="btn btn-default delete" onclick="window.location='@Url.Action("DeleteAdvert", "Advert", new { id = item.Id })'">Удалить</button>
                                <div class="d-flex justify-content-end align-content-end">
                                    <div class="price">
                                        @item.Price &#8372
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="col-12 no-message text-center">
                        У Вас нет обьявлений
                    </div>
                }
            }
        </div>
    </div>

</div>




