@model List<BadMom.Models.Blog.PostVM>
@{
    ViewBag.Title = "Мой кабинет";
    Layout = "~/Views/User/_MyProfileLayout.cshtml";
    ViewBag.Menu = "post";
}
@*@section styles{
    @Styles.Render("~/Content/advert")
}*@
<div class="container">
    <div class="advert-main">
        <div class="row">
            @{if (Model.Count != 0)
                {
                    foreach (var item in Model)
                    {
            <div class="col-lg-12 advert-element">
                <div class="d-flex justify-content-between">
                    <div class="photo">
                        <a href="@Url.Action("Post","Blog",new { message= item.Id })">
                            @if (item.Photo != null && item.Photo.Length != 0)
                {
                    var base64 = Convert.ToBase64String(item.Photo);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);


                    <img src="@imgSrc" class="img-fluid" />
    }
    else
    {<img src="~/Resources/img/blog-post-2.jpg" alt="..." class="img-fluid">}
                        </a>
                    </div>
                    <div class="content-block">
                        <div class="header">
                            <a href="@Url.Action("Post","Blog",new { message= item.Id })">@item.Title</a>
                        </div>
                        <div class="info-block">
                            @item.Created.ToShortDateString()
                        </div>
                        <div class="body">

                            @item.Body

                        </div>

                    </div>
                    <div class="button-panel d-none d-sm-block">
                        <button class="btn btn-default edit" onclick="window.location='@Url.Action("EditPost", "Blog", new { id = item.Id })'">Редактировать</button>
                        <button class="btn btn-default view" onclick="window.location='@Url.Action("Post", "Blog", new { message = item.Id })'">Просмотреть</button>
                        <button class="btn btn-default delete" onclick="window.location='@Url.Action("DeletePost", "Blog", new { id = item.Id })'">Удалить</button>
                        <div class="d-flex justify-content-end align-content-end">
                            <div class="comment-like">
                                <i class="fa fa-heart"></i>@item.UsersLikes.Count
                                <i class="fa fa-comments-o comment"></i>@item.Comments.Count
                            </div>
                        </div>
                    </div>

                </div>
                <div class="button-panel d-sm-none">
                    <button class="btn btn-default edit" onclick="window.location='@Url.Action("EditPost", "Blog", new { id = item.Id })'">Редактировать</button>
                    <button class="btn btn-default view" onclick="window.location='@Url.Action("Post", "Blog", new { message = item.Id })'">Просмотреть</button>
                    <button class="btn btn-default delete" onclick="window.location='@Url.Action("DeletePost", "Blog", new { id = item.Id })'">Удалить</button>
                    <div class="d-flex justify-content-end align-content-end">
                        <div class="comment-like">
                            <i class="fa fa-heart"></i>@item.UsersLikes.Count
                            <i class="fa fa-comments-o comment"></i>@item.Comments.Count
                        </div>
                    </div>
                </div>
            </div>
                    }
                }
                else
                {
                    <div class="col-12 no-message text-center">
                        У Вас нет постов
                    </div>
                }
            }
        </div>
    </div>

</div>




